*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-image: url(https://marketplace.canva.com/EAEKqI09MjI/1/0/1600w/canva-azul-rosa-arco%C3%ADris-gradiente-fondo-virtual-zoom-kyL4zdu4OLM.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
}
.imagen1{
	text-align: center;
}
.navegacion{
	width: 500px;
	margin: 30px auto;
	background: #333333;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
}
.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: Open sans;
	text-decoration: none;
}
.menu li a:hover{
	color: orange;
	transition: all .3s;	
}
.submenu{
	position: absolute;
	background: #333333;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: Open sans;
	text-decoration: none;
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
.text1{
	font-family: Times New Roman;
	font-size: 30px;
	text-align: center;
}
.footer{
	font-family: Arial;
	font-size: 15px;
	text-align: justify;
}